/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  font-family: "RobotoSlabRegular";
  color: #353535;
  font-size: 20px;
  line-height: 1.6875;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 100%;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
}

@font-face {
  font-family: "RobotoSlabRegular";
  src: url(./../fonts/RobotoSlab-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "RobotoSlabSemiBold";
  src: url(./../fonts/RobotoSlab-SemiBold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "RobotoSlabBold";
  src: url(./../fonts/RobotoSlab-Bold.woff) format("woff");
  font-weight: 800;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
}
@media (max-width: 500px) {
  .logo {
    width: 118px;
  }
}

.title-h1 {
  font-family: "RobotoSlabBold";
  font-size: 70px;
  color: #fff;
}
@media (max-width: 899px) {
  .title-h1 {
    font-size: 60px;
  }
}
@media (max-width: 599px) {
  .title-h1 {
    font-size: 55px;
  }
}
@media (max-width: 500px) {
  .title-h1 {
    font-size: 45px;
  }
}

.title-h2 {
  font-family: "RobotoSlabBold";
  color: #353535;
  font-size: 30px;
}
.title-h2_white {
  color: #fff;
}
@media (max-width: 1199px) {
  .title-h2 {
    font-size: 25px;
  }
}
@media (max-width: 899px) {
  .title-h2 {
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .title-h2 {
    font-size: 17px;
  }
}

.button {
  display: inline-block;
  margin: 0 auto;
  background-color: #5CA4EA;
  color: #fff;
  padding: 10px 40px;
  border: 1px solid #91C9FF;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .button {
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .button {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .button {
    font-size: 12px;
    padding: 10px 20px;
  }
}

.button:hover {
  color: #fff;
}

.button a {
  position: relative;
  color: #fff;
  -webkit-transition: all 0.45s ease-Out;
  transition: all 0.45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.5s ease-Out;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

.button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button:hover a {
  color: #5CA4EA;
}

.gradient-line {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center bottom 10px;
  background-size: 100% 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#91C9FF), to(#91C9FF));
  background-image: linear-gradient(to right, #91C9FF, #91C9FF);
}
@media (max-width: 899px) {
  .gradient-line {
    background-position: center bottom 8px;
    background-size: 100% 3px;
  }
}
@media (max-width: 599px) {
  .gradient-line {
    background-position: center bottom 6px;
  }
}

.preloader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}

@-webkit-keyframes ldio-0wgw6dzh29g {
  0% {
    opacity: 1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.5, 1.5);
            transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
            transform: translateZ(0) scale(1, 1);
  }
}

@keyframes ldio-0wgw6dzh29g {
  0% {
    opacity: 1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.5, 1.5);
            transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
            transform: translateZ(0) scale(1, 1);
  }
}
.ldio-0wgw6dzh29g div > div {
  position: absolute;
  width: 20.4px;
  height: 20.4px;
  border-radius: 50%;
  background: #5CA4EA;
  -webkit-animation: ldio-0wgw6dzh29g 0.9615384615384615s linear infinite;
          animation: ldio-0wgw6dzh29g 0.9615384615384615s linear infinite;
}

.ldio-0wgw6dzh29g div:nth-child(1) > div {
  left: 159px;
  top: 92px;
  -webkit-animation-delay: -0.8413461538461539s;
          animation-delay: -0.8413461538461539s;
}

.ldio-0wgw6dzh29g > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 169.2px 102.2px;
          transform-origin: 169.2px 102.2px;
}

.ldio-0wgw6dzh29g div:nth-child(2) > div {
  left: 139px;
  top: 139px;
  -webkit-animation-delay: -0.7211538461538461s;
          animation-delay: -0.7211538461538461s;
}

.ldio-0wgw6dzh29g > div:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 149.2px 149.2px;
          transform-origin: 149.2px 149.2px;
}

.ldio-0wgw6dzh29g div:nth-child(3) > div {
  left: 92px;
  top: 159px;
  -webkit-animation-delay: -0.6009615384615384s;
          animation-delay: -0.6009615384615384s;
}

.ldio-0wgw6dzh29g > div:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 102.2px 169.2px;
          transform-origin: 102.2px 169.2px;
}

.ldio-0wgw6dzh29g div:nth-child(4) > div {
  left: 44px;
  top: 139px;
  -webkit-animation-delay: -0.4807692307692307s;
          animation-delay: -0.4807692307692307s;
}

.ldio-0wgw6dzh29g > div:nth-child(4) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: 54.2px 149.2px;
          transform-origin: 54.2px 149.2px;
}

.ldio-0wgw6dzh29g div:nth-child(5) > div {
  left: 24px;
  top: 92px;
  -webkit-animation-delay: -0.3605769230769231s;
          animation-delay: -0.3605769230769231s;
}

.ldio-0wgw6dzh29g > div:nth-child(5) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 34.2px 102.2px;
          transform-origin: 34.2px 102.2px;
}

.ldio-0wgw6dzh29g div:nth-child(6) > div {
  left: 44px;
  top: 44px;
  -webkit-animation-delay: -0.24038461538461536s;
          animation-delay: -0.24038461538461536s;
}

.ldio-0wgw6dzh29g > div:nth-child(6) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transform-origin: 54.2px 54.2px;
          transform-origin: 54.2px 54.2px;
}

.ldio-0wgw6dzh29g div:nth-child(7) > div {
  left: 92px;
  top: 24px;
  -webkit-animation-delay: -0.12019230769230768s;
          animation-delay: -0.12019230769230768s;
}

.ldio-0wgw6dzh29g > div:nth-child(7) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 102.2px 34.2px;
          transform-origin: 102.2px 34.2px;
}

.ldio-0wgw6dzh29g div:nth-child(8) > div {
  left: 139px;
  top: 44px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.ldio-0wgw6dzh29g > div:nth-child(8) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transform-origin: 149.2px 54.2px;
          transform-origin: 149.2px 54.2px;
}

.loadingio-spinner-spin-dc2kvnvvz05 {
  width: 204px;
  height: 204px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-0wgw6dzh29g {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-0wgw6dzh29g div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media (max-width: 500px) {
  .contacts {
    gap: 5px;
  }
}

.contacts__tel::before {
  content: '';
  background-image: url("./../img/contacts/phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 31px;
  height: 37px;
}
@media (max-width: 500px) {
  .contacts__tel::before {
    width: 26px;
    height: 29px;
  }
}

.contacts__tel_white::before {
  content: '';
  background-image: url("./../img/contacts/phone-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 31px;
  height: 37px;
}
@media (max-width: 500px) {
  .contacts__tel_white::before {
    width: 26px;
    height: 29px;
  }
}

.contacts__email::before {
  content: '';
  background-image: url("./../img/contacts/email.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 36px;
  height: 36px;
}
@media (max-width: 500px) {
  .contacts__email::before {
    width: 26px;
    height: 26px;
  }
}

.contacts__email_white::before {
  content: '';
  background-image: url("./../img/contacts/email-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 36px;
  height: 36px;
}
@media (max-width: 500px) {
  .contacts__email_white::before {
    width: 26px;
    height: 26px;
  }
}

.contacts__tel,
.contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #353535;
}
@media (max-width: 1199px) {
  .contacts__tel,
  .contacts__email {
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .contacts__tel,
  .contacts__email {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .contacts__tel,
  .contacts__email {
    font-size: 12px;
  }
}

.contacts__tel:hover,
.contacts__email:hover {
  color: #353535;
}

.contacts__tel_white,
.contacts__email_white {
  color: #fff;
}

.contacts__tel_white:hover,
.contacts__email_white:hover {
  color: #fff;
}

.banner {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #263049;
  text-align: center;
  background-image: url("../img/banner/cars.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 100%;
  height: 100%;
}
@media (max-width: 899px) {
  .banner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .banner {
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("../img/banner/banner-mobile.jpg");
  }
}

.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 450px;
}
@media (max-width: 1199px) {
  .banner__wrapper {
    gap: 300px;
  }
}

.banner__text {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  .banner__text {
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .banner__text {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .banner__text {
    font-size: 12px;
  }
}

.about {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
@media (max-width: 899px) {
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.about__title {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .about__text {
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .about__text {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .about__text {
    font-size: 12px;
  }
}
.about__text_bold {
  font-family: "RobotoSlabBold";
}

.advantages {
  padding-bottom: 70px;
  text-align: center;
}
@media (max-width: 899px) {
  .advantages {
    padding-bottom: 40px;
  }
}

.advantages__title {
  margin-bottom: 50px;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media (max-width: 1199px) {
  .advantages__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}
@media (max-width: 599px) {
  .advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.advantages__item {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F2F2F2;
  padding: 50px 45px;
  border-radius: 17px;
}
@media (max-width: 899px) {
  .advantages__item {
    padding: 23px 30px;
  }
}

@media (max-width: 1199px) {
  .advantages__item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media (max-width: 1199px) {
  .advantages__item:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media (max-width: 1199px) {
  .advantages__item:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media (max-width: 1199px) {
  .advantages__item:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.advantages__item-text {
  max-width: 370px;
  width: 100%;
  font-family: "RobotoSlabSemiBold";
  font-size: 16px;
}
@media (max-width: 899px) {
  .advantages__item-text {
    max-width: 250px;
    font-size: 14px;
  }
}
@media (max-width: 599px) {
  .advantages__item-text {
    max-width: 200px;
    font-size: 12px;
  }
}

.advantages__img {
  width: 100px;
}
@media (max-width: 899px) {
  .advantages__img {
    width: 50px;
  }
}

.transport {
  padding-top: 70px;
  padding-bottom: 200px;
  background-color: #263049;
  text-align: center;
}
@media (max-width: 899px) {
  .transport {
    padding-top: 40px;
  }
}

.transport__title {
  margin-bottom: 25px;
}

.transport__subtitle {
  font-size: 17px;
  color: rgba(255, 250, 250, 0.7);
  font-family: "RobotoSlabSemiBold";
  margin-bottom: 15px;
}
@media (max-width: 899px) {
  .transport__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .transport__subtitle {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.transport__subtitle:nth-child(3) {
  margin-bottom: 50px;
}

.transport__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  color: #fff;
  font-size: 16px;
}
@media (max-width: 899px) {
  .transport__list {
    font-size: 14px;
  }
}
@media (max-width: 599px) {
  .transport__list {
    font-size: 12px;
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .transport__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.transport__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  justify-self: end;
}

.transport__list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.transport__list-item::before {
  content: '';
  background-image: url("./../img/transport/dot.svg");
  display: block;
  width: 7px;
  height: 7px;
}

.transport__container {
  position: relative;
}

.transport__img {
  position: absolute;
  left: 70%;
  top: 93%;
  width: 300px;
}
@media (max-width: 899px) {
  .transport__img {
    top: 123%;
    left: 60%;
    width: 200px;
  }
}
@media (max-width: 457px) {
  .transport__img {
    top: 117%;
  }
}
@media (max-width: 500px) {
  .transport__img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.steps {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
@media (max-width: 899px) {
  .steps {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.steps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 170px;
          column-gap: 170px;
  row-gap: 50px;
}
@media (max-width: 750px) {
  .steps__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 599px) {
  .steps__wrapper {
    row-gap: 30px;
  }
}
@media (max-width: 400px) {
  .steps__wrapper {
    row-gap: 20px;
  }
}

@media (max-width: 899px) {
  .steps__item:nth-child(1) .steps__item-img {
    width: 50px;
  }
}
@media (max-width: 400px) {
  .steps__item:nth-child(1) .steps__item-img {
    width: 30px;
  }
}

@media (max-width: 899px) {
  .steps__item:nth-child(3) .steps__item-img {
    width: 72px;
  }
}
@media (max-width: 400px) {
  .steps__item:nth-child(3) .steps__item-img {
    width: 50px;
  }
}

@media (max-width: 899px) {
  .steps__item:nth-child(4) .steps__item-img {
    width: 80px;
  }
}
@media (max-width: 400px) {
  .steps__item:nth-child(4) .steps__item-img {
    width: 50px;
  }
}

@media (max-width: 899px) {
  .steps__item:nth-child(5) .steps__item-img {
    width: 65px;
  }
}
@media (max-width: 400px) {
  .steps__item:nth-child(5) .steps__item-img {
    width: 40px;
  }
}

@media (max-width: 899px) {
  .steps__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

.steps__title {
  margin-bottom: 50px;
}

.steps__item-text {
  font-family: "RobotoSlabBold";
  font-size: 17px;
  width: 185px;
  margin-top: -75px;
  margin-left: 67px;
}
@media (max-width: 899px) {
  .steps__item-text {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 599px) {
  .steps__item-text {
    font-size: 12px;
  }
}

@media (max-width: 899px) {
  .steps__item-img {
    width: 65px;
  }
}
@media (max-width: 400px) {
  .steps__item-img {
    width: 40px;
  }
}

.contacting {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
@media (max-width: 899px) {
  .contacting {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.contacting__title {
  margin-bottom: 50px;
}

.contacting__text {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .contacting__text {
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .contacting__text {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .contacting__text {
    font-size: 12px;
  }
}

.contacting__link {
  margin-bottom: 30px;
}

.socials {
  display: none;
}
@media (max-width: 899px) {
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .socials {
    gap: 15px;
  }
}

.socials__telegram,
.socials__whatsapp {
  width: 40px;
}
@media (max-width: 500px) {
  .socials__telegram,
  .socials__whatsapp {
    width: 30px;
  }
}

.socials__viber {
  width: 45px;
}
@media (max-width: 500px) {
  .socials__viber {
    width: 34px;
  }
}

.socials a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.socials a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.swiper {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.swiper__container {
  max-width: 1230px;
  position: relative;
  margin: 0 auto;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  position: absolute;
  left: 17%;
  width: 50px;
}
@media (max-width: 1199px) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-prev img {
  width: 50px;
}

.swiper-button-next {
  position: absolute;
  left: 78%;
  width: 50px;
}
@media (max-width: 1199px) {
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-next img {
  width: 50px;
}

.swiper-arrow {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 104%;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #5ca3ea58;
  opacity: 1;
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 50%;
}
@media (max-width: 899px) {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

.swiper-pagination-bullet-active {
  background: #5ca4ea;
}

/* Second swiper */
.mySwiper {
  max-width: 900px;
}

.portfolio {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
@media (max-width: 899px) {
  .portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.portfolio__title {
  margin-bottom: 50px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #263049;
}
@media (max-width: 899px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 599px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
}

.footer__info {
  color: #fff;
}
@media (max-width: 1199px) {
  .footer__info {
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .footer__info {
    font-size: 14px;
  }
}
@media (max-width: 599px) {
  .footer__info {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .footer__info {
    margin-bottom: 12px;
  }
}

.footer__info p {
  margin-bottom: 15px;
}
@media (max-width: 599px) {
  .footer__info p {
    margin-bottom: 5px;
  }
}

.footer__info:last-child {
  margin-bottom: 0;
}

/* Tablet */
/* Mobile */
/* Mobile XS */

/*# sourceMappingURL=main.css.map */