@font-face {
    font-family: "RobotoSlabRegular";
    src: url(./../fonts/RobotoSlab-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "RobotoSlabSemiBold";
    src: url(./../fonts/RobotoSlab-SemiBold.woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "RobotoSlabBold";
    src: url(./../fonts/RobotoSlab-Bold.woff) format("woff");
    font-weight: 800;
}