.title-h1 {
    font-family: "RobotoSlabBold";
    font-size: 70px;
    color: $second-color;

    @media (max-width: 899px) {
        font-size: 60px;
    }

    @media (max-width: 599px) {
        font-size: 55px;
    }

    @media (max-width: 500px) {
        font-size: 45px;
    }
}