.socials {
    display: none;

    @media (max-width:899px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    @media(max-width: 500px) {
        gap: 15px;
    }
}

.socials__telegram,
.socials__whatsapp {
    width: 40px;

    @media(max-width: 500px) {
        width: 30px;
    }
}

.socials__viber {
    width: 45px;

    @media(max-width: 500px) {
        width: 34px;
    }
}

.socials a {
    transition: 0.2s;


}

.socials a:hover {
    transform: scale(1.1);
}